<div class="container">

<h1>Ask A Friend!</h1>

<br />

<div>
  <% if user_signed_in? %>
  Welcome back <%= current_user.username %>
  <% end %>

</div>

<div>

  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>

</br>
</div>
</br>
<div>
  <% if user_signed_in? %>
  <%= link_to "Submit A Question", new_post_path %>
  <% else %>
  <p><%="Please Sign Up or Sign In to Submit a question." %></p>

  <%end %>


  </p>
</div>

</br>
<div>
  <table class="table table-striped">
    <tbody>
    <% @posts.each do |f| %>
    <tr>
      <td>
      <%= link_to "#{f.title}", post_path(f) %>
      <%= f.created_at.strftime("%B %d, %Y") %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>


</div>
